<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h2 class="modal-title">Editar Categoria</h2>
            <buttons class="close" type="buttons" aria-dismiss="modal" aria-label="close">
                <spam aria-hidden="true">&time</spam>
            </buttons>
        </div>
        <div class="modal-body">
            {{ form.as_p }}
        </div>
        <div class="modal-footer">
            <buttons class="btn btn-danger" type="buttons" data-dismiss="modal">Cancelar</buttons>
            <buttons class="btn btn-primary" type="submit">Confirmar</buttons>
        </div>
    </div>
</div>